<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Bloqueio</title>
</head>
<body>
   <form method="post">
    <label>Início:</label>
    <input type="datetime-local" name="data_hora_inicio" value="{{ bloqueio.data_hora_inicio.strftime('%Y-%m-%dT%H:%M') }}">

    <label>Fim:</label>
    <input type="datetime-local" name="data_hora_fim" value="{{ bloqueio.data_hora_fim.strftime('%Y-%m-%dT%H:%M') }}">

    <label>Motivo:</label>
    <input type="text" name="motivo" value="{{ bloqueio.motivo }}">

    <button type="submit">Salvar</button>
</form>
</body>
</html>