<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form method="post">
        <label>Nome do serviço:</label>
        <input type="text" name="nome">
        <label>Duração (min):</label>
        <input type="number" name="duracao_min">
        <label>Preço do serviço:</label>
        <input type="number" name="preco">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>