<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form method="post">
    <label>Dia da semana:</label>
<select name="dia_semana">
    <option value="0">Segunda</option>
    <option value="1">Terça</option>
    <option value="2">Quarta</option>
    <option value="3">Quinta</option>
    <option value="4">Sexta</option>
    <option value="5">Sábado</option>
    <option value="6">Domingo</option>
</select>
    <label>Hora de início:</label>
    <input type="time" name="hora_inicio">

    <label>Hora de Fim:</label>
    <input type="time" name="hora_fim">

    <button type="submit">Salvar</button>
    </form>
</body>
</html>