<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Bloqueio</title>
</head>
<body>
    <form method="post">
    <label>Início:</label>
    <input type="datetime-local" name="data_hora_inicio">

    <label>Fim:</label>
    <input type="datetime-local" name="data_hora_fim">

    <label>Motivo:</label>
    <input type="text" name="motivo">

    <button type="submit">Salvar</button>
</form>
    
</body>
</html>